<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Emotional Conversational Agent</title>
    <link rel="icon" href="img/fav.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/freelancer.css" rel="stylesheet">


    <!-- modernizr -->
    <script src="js/modernizr.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Agent -->

    <div class="container-fluid">
       <!-- box-header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="index.html"><img src="img/logo.png" width="180" alt="Logo"></a>
            </div>          
        </header>
        <!-- end box-header -->
        
  
    </div>
    
    <!-- top-bar -->
    <div class="top-bar">
        <h1>Emotional Conversational Agent</h1>
    </div>
    <!-- end top-bar -->
    
    <!-- main-container -->
    <div class="container main-container">
        
        <!-- WEBCHAT  -->
        <div class="row">

            <!-- Chat -->
            <div id="chat" class="col-md-offset-3 col-md-6">
                <div class="chat-container">

                    <div id="chat-header">
                        <span id="emoji">&#128513;</span>
                        <div id="reset-btn-container">
                            <img class="reset-emo-btn" src="img/emotionreload.png" />
                        </div>
                    </div>

                    <!-- Chat Window -->
                    <div id="chat-window">   

                    </div>

                    <div id="typing">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                    <!-- Chat Input -->
                    <div id="chat-input">
                        <div class="row">
                            <textarea id="chat_input" type="text" placeholder="Write a message." autocomplete="off" cols="5"></textarea> 
                            
                            <div id="send_btn">
                                <img class="send_btn_icon" src="img/sendicon.png" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
   
           
    </div>
    <!-- end main-container -->


    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">© Box Portfolio 2016</p>
        </div>
    </footer>
    <!-- end footer -->
    
    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->


    <!-- jQuery -->
    <script src="js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/animated-headline.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  custom script -->
    <script src="js/custom.js"></script>

    <!-- Vendor JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>        
    <script type="text/javascript" src="vendor/moment/moment-with-locales.min.js"></script>
    <script src="lib/underscore.js"></script>

    <!-- Own JS -->
    <script src="js/api_calls.js" type="text/javascript"></script>
    <script src="js/init.js" type="text/javascript"></script>
    <script src="js/actions.js" type="text/javascript"></script>


        <script id="message_template" type="text/template">
        <div class="message message-<%= type %>">       
            <div class="msg">
                <div class="message-content">
                    <%= content %>
                </div>
            </div>
        </div>
    </script>

</body>

</html>